mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 90%;
  border-radius: 15px;
  box-shadow: 4px 4px 0 var(--base-gray-1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  mat-card-content {
    height: 100%;
    .fi {
      color: var(--base-gray-2);
      font-size: 85px;
    }
  }

  mat-card-footer {
    font-size: 24px;
    color: white;
    background-color: var(--base-blue-1);
    border-radius: 0 0 15px 15px;
    height: 60px;
  }

  mat-card-actions {
    height: 0;
  }

  mat-card-content, mat-card-footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

mat-card:hover {
  box-shadow: 0 0 6px 1px var(--base-blue-1-shadow);
  transform: scale(1.05);
  mat-card-content > .fi {
    color: var(--base-blue-2);
  }
}
