<mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)">
  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <i class="fi fi-rr-inventory-alt"></i>
      </mat-card-content>
      <mat-card-footer>
        Inventario
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <i class="fi fi-rr-address-book"></i>
      </mat-card-content>
      <mat-card-footer>
        Clientes
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <i class="fi fi-rr-file-user"></i>
      </mat-card-content>
      <mat-card-footer>
        Empleados
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <i class="fi fi-rr-dollar"></i>
      </mat-card-content>
      <mat-card-footer>
        Ventas
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <i class="fi fi-rr-donate"></i>
      </mat-card-content>
      <mat-card-footer>
        Adeudos
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <i class="fi fi-rr-file-medical-alt"></i>
      </mat-card-content>
      <mat-card-footer>
        Reportes
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
